<mat-toolbar color="primary">
  <button style="color: white;" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h2>Students Dashboard</h2>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #drawer mode="side" position="start" [opened]="false">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button routerLink="/listStudents">Dashboard</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/listStudents" mat-button>Students</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/addStudent" mat-button>Add student</button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/listSports" mat-button>Sports</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <div style="min-height: 600px">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
